<div class="grid xl:grid-cols-2">
	<section>
		<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

			<div class="flex w-full sm:max-w-sm items-center md:max-w-md mb-6 sm:mb-8">
				<a href="/" data-link><span class="text-5xl mr-2 hidden sm:block">🔓</span></a>
				<h1 class="text-3xl font-bold mb-2">Welcome to
					<span class="block text-yellow-500">JobUnlocked</span>
				</h1>
			</div>

			<div class="tw-card w-full sm:max-w-sm md:mt-0 md:max-w-md xl:p-0">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
							Create your account
					</h1>

					<register-form></register-form>

					<div class="flex justify-between text-sm font-light text-gray-500 dark:text-gray-400 mt-4 md:mt-6">
						<span>Already have an account?</span>
						<a
							href="/login"
							data-link
							class="font-medium text-rose-400 hover:underline"
						>
							Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="bg-gradient-to-tr from-amber-500 via-rose-400 to-pink-500 hidden xl:block"></div>

</div>
